.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .8rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .45rem;
    }
  }

  .btn, .gumroad-button  {
    margin: 1rem 0;
  }
}

.sidebar-sticky {
  height: 100%;
  padding-top: 5%;
  position: absolute;
}

.flip-title {
  font-size: 25px;
}

.ellipsis > .flip-title {
  font-size: 18px;
}

.heading.flip-title {
  font-size: 20px;
}

.related-posts > .flip-title {
  font-size: 20px;
}

.article > .h1 {
  font-size: 30px;
}

.article > .p {
  font-size: 18px;
}